.container-main {
  background: url('../../assets/images/kiosk_credit_back.png') center no-repeat;
  background-size: 100% 100%;
  padding: 8vh 5vh;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .kiosk-content-wrap {
    position: relative;
    padding-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .kiosk-left-wrap {
      display: flex;
      flex-direction: column;
      background: url('../../assets/images/kiosk_credit_leftbox.png') center
        no-repeat;
      background-size: 100% 100%;
      width: 25%;
      height: 75vh;
      padding: 3vh 2vh;

      .member-tag {
        background: url('../../assets/images/kiosk_credit_badge_back.png')
          center no-repeat;
        background-size: contain;
        width: 80%;
        height: 30vh;
        margin: 0 auto;
      }
      .member-level {
        position: absolute;
        top: 22%;
        left: 6%;
      }
      .member-name-wrap {
        text-align: center;
        .hello-message {
          font-family: 'Pretendard-Medium';
          color: white;
          font-size: 4vh;
          margin-top: 1vh;
        }

        .member-name {
          font-family: 'Pretendard-ExtraBold';
          font-size: 8vh;
          color: white;
          letter-spacing: 2vh;
        }
      }
      .member-info-wrap {
        padding: 0 8vh;
        .member-info {
          display: flex;
          align-items: center;
          font-family: 'Pretendard-Medium';
          font-size: 3vh;
          color: white;
          margin: 2vh 0;
        }

        .libox-img {
          margin-right: 1vh;
        }
      }
    }

    .kiosk-right-wrap {
      background: url('../../assets/images/kiosk_credit_rightbox.png') center
        no-repeat;
      background-size: 100% 100%;
      width: 73%;
      height: 75vh;
      padding: 4vh 3vh;

      .kiosk-button-wrap {
        display: flex;
        align-items: center;

        .kiosk-button {
          font-family: 'Pretendard-Medium';
          padding: 0.3vh 6vh;
          height: 6vh;
          margin-right: 4vh;
          font-size: 4vh;

          letter-spacing: 1vh;
          text-align: center;
          &.on {
            background: url('../../assets/images/kiosk_credit_buy_button.png')
              center no-repeat;
            background-size: 100% 100%;
            color: white;
          }

          &.off {
            background: url('../../assets/images/kiosk_credit_not_buy_button.png')
              center no-repeat;
            background-size: 100% 100%;
          }
        }
      }

      .kiosk-content {
        display: flex;
        align-items: center;
        margin-top: 3.5vh;
        .kiosk-scroll-area {
          width: 60%;
          height: 58vh;
          background: url('../../assets/images/kiosk_credit_right_box_sale_box.png')
            center no-repeat;
          background-size: 100% 100%;
          padding: 1vh 2vh;
          .kiosk-item-wrap {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            overflow-y: auto;
            padding: 2vh;
            height: 55vh;

            .kiosk-item-container {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 25%;
              background: transparent;
              cursor: pointer;
              margin-bottom: 1vh;
              .item-img {
                width: 80%;
              }
              .item-name {
                font-family: 'Pretendard-Medium';
                font-size: 2.5vh;
                text-align: center;
                margin: 1vh 0 0.1vh 0;
              }

              .item-price {
                font-family: 'Pretendard-Medium';
                font-size: 2.3vh;
                color: var(--orange);
              }
            }
          }
          .kiosk-purchse-wrap {
          }
        }
        .kiosk-purchase-wrap {
          margin-left: 2vh;
          width: 38%;
          height: 58vh;
          background: url('../../assets/images/kiosk_credit_right_box_pay_box.png')
            center no-repeat;
          background-size: 100% 100%;

          .purchase-scroll-area {
            overflow-y: auto;
            .purchase-item-container {
              .delete-item-button {
                background-image: url('../../assets/images/kiosk_credit_x_button.png')
                  center no-repeat;
                background-size: contain;
                width: 5vh;
                height: 5vh;
              }
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.kiosk-item-wrap::-webkit-scrollbar {
  width: 1vh;
  background-color: white;
  border-radius: 0.5rem;
}

.kiosk-item-wrap::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 0.5rem;
}

// <Button onClick={loginAxios}
// disabled={username === '' || password === '' ? true : false}>로그인</Button>
