.container-main {
  &.waiting {
    background: url('../../../assets/images/ReadyPage/kiosk_credit_main_back.png')
      center no-repeat;
    background-size: 100% 100%;
    position: relative;

    .admin-page-logo {
      position: absolute;
      right: 3%;
      top: 5%;
    }
    .ask-tag-message {
      margin-top: 44vh;
      font-size: 10vh;
      color: white;
      text-align: center;
      font-family: 'Pretendard-Medium';
    }
  }
}
